@page
@model IST440WGroup4.Pages.Dashboard.IndexModel
@{
}

<br />
<h2> Dashboard </h2>
<table>
    <thead>
        <tr>
            <th>Medical Record Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>MEWS Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.listPatients)
        {
            <tr>
                <td>@patient.medicalRecordNumber</td>
                <td>@patient.firstName</td>
                <td>@patient.lastName</td>
            </tr>
        }


    </tbody>

</table>