@page
@model IST440WGroup4.Pages.Dashboard.IndexModel
@{
}

<div class="container text-center">

    @*FILLER CONTENT *@

    <h1>Latest Patient Vital Information</h1>
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">MEWS Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1340</td>
                <td>Page</td>
                <td>Jimmy</td>
                <td class="text-success">Normal</td>
            </tr>
            <tr>
                <td>7632</td>
                <td>Vorhees</td>
                <td>Jason</td>
                <td class="text-warning">Cautious</td>
            </tr>
            <tr>
                <td>8749</td>
                <td>Krueger</td>
                <td>Freddy</td>
                <td class="text-danger">URGENT</td>
            </tr>
            <tr>
                <td>3512</td>
                <td>Eastwood</td>
                <td>Clint</td>
                <td class="text-success">Normal</td>
            </tr>
            <tr>
                <td>4329</td>
                <td>Pesci</td>
                <td>Joe</td>
                <td class="text-danger">URGENT</td>
            </tr>
            <tr>
                <td>6102</td>
                <td>De Niro</td>
                <td>Robert</td>
                <td class="text-warning">Cautious</td>
            </tr>
        </tbody>
    </table>

</div>