@page
@model IST440WGroup4.Pages.Details.CaemellaModel
@{
}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>MEWS Score: </h2>
            <h3 style="color:red">6</h3>
        </div>

        <div class="col">
            <h2>Patient Information</h2>
            <p><b>Patient Name: Caemella Carmine</b> </p>
            <p><b>Location</b>: Good Patient Hospital </p>
            <p><b>Room: ED13</b> </p>
            <p><b>Admitted: 03/02/2022</b> </p>
            <p><b>Birth: 02/08/1962</b> </p>
            <p><b>Patient Diagnosis: T63083A - TOXIC EFFECT OF</b> </p>
        </div>
    </div>
</div>

<br />

<caption>Latest Patient Vital Information</caption>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Vitals</th>
            <th scope="col">Vital Information</th>
            <th scope="col">MEWS Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Respiratory RPM</th>
            <td>20 rpm</td>
            <td>+1</td>
        </tr>
        <tr>
            <th scope="row">Heart Rate</th>
            <td>112 bpm</td>
            <td>+2</td>
        </tr>
        <tr>
            <th scope="row">Systolic Blood Pressure</th>
            <td>200 mmHG</td>
            <td>+2</td>
        </tr>
        <tr>
            <th scope="row">Conscious Level</th>
            <td>AGITATED</td>
            <td>+1</td>
        </tr>
        <tr>
            <th scope="row">Temperature</th>
            <td>35 &#176C </td>
            <td>0</td>
        </tr>
    </tbody>
</table>