@page
@model IST440WGroup4.Pages.Details.JasonModel
@{
}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>MEWS Score: </h2>
            <h3 style="color:red">7</h3>
        </div>

        <div class="col">
            <h2>Patient Information</h2>
            <p><b>Patient Name: Jason Json</b> </p>
            <p><b>Location</b>: Good Patient Hospital </p>
            <p><b>Room: ED05</b> </p>
            <p><b>Admitted: 02/01/2022</b> </p>
            <p><b>Birth: 06/15/1955</b> </p>
            <p><b>Patient Diagnosis: B6309A - MUSCLE SPASMS</b> </p>
        </div>
    </div>
</div>

<br />

<caption>Latest Patient Vital Information</caption>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Vitals</th>
            <th scope="col">Vital Information</th>
            <th scope="col">MEWS Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Respiratory RPM</th>
            <td>7 rpm</td>
            <td>+2</td>
        </tr>
        <tr>
            <th scope="row">Heart Rate</th>
            <td>112 bpm</td>
            <td>+2</td>
        </tr>
        <tr>
            <th scope="row">Systolic Blood Pressure</th>
            <td>200 mmHG</td>
            <td>+2</td>
        </tr>
        <tr>
            <th scope="row">Conscious Level</th>
            <td>AGITATED</td>
            <td>+1</td>
        </tr>
        <tr>
            <th scope="row">Temperature</th>
            <td>35 &#176C </td>
            <td>0</td>
        </tr>
    </tbody>
</table>